
    
   <!-- <div class="container">
<mat-card class="example-card">
    <mat-card-content>
      <img [src] ="ImagePath" 
          class="image">
      <h2>Login here!</h2>
        <div class="example-container">
            <form class="search-form">
            
                
              <input type="email" id="typeEmail" class="form-control" matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> 
              <br>
            
           
                
              <input type="email" id="typeEmail" class="form-control" matInput placeholder="******" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <br>
            <a href="#">Forgot password?</a>
            
              <button type="button" class="btn btn-primary btn-block">Submit</button>
              
            
          </form>
          </div>
    </mat-card-content>
  </mat-card>
</div>

-->